html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #000; 
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 1366px) {
  .app-wrapper {
    padding: 1.5rem;
    max-width: 1200px;   
    margin: 0 auto;      
  }
}

@media (max-width: 768px) {
  .app-wrapper {
    padding: 1rem;
  }
}


@media (max-width: 480px) {
  .app-wrapper {
    padding: 0.5rem;
  }
}
