.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 200vh;
  overflow: hidden;
  z-index: 0;
}

.bg-layer {
  position: absolute;
  width: 187.5rem;
  height: 106.25rem;
  left: -31.25rem;
  top: -16.875rem;
  object-fit: cover;
  opacity: 1;
}

.bg-layer.bottom {
  width: 2625.6px;
  height: 1500px;
  left: -353px;
  top: 1200px;

  mask-image: linear-gradient(to top, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
}


.blur {
  filter: blur(3.75rem);
  opacity: 0.8;
}


.moon {
  position: absolute;
  width: 750px;
  height: 750px;
  left: 267px;
  top: 195px;
  background: url('../assets/images/moon.avif') no-repeat center/contain;
  z-index: 1;

  animation: spin 5s linear infinite;
}

.skin-circle {
  border-radius: 50%; 
  left: 400px;
  top: 350px; 
  width: 450px;
  height: 450px;           
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;          
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .bg-layer {
    width: 120vw;
    height: 120vh;
    left: -10vw;
    top: -10vh;
  }

  .bg-layer.bottom {
    width: 140vw;
    height: 100vh;
    left: -20vw;
  }

  .moon {
    width: 50vw;
    height: 50vw;
    left: 25vw;
    top: 10vh;
  }

  .skin-circle {
    width: 28vw;
    height: 28vw;
    left: 37vw;
    top: 15vh;
  }
}



@media (max-width: 1366px) {
  .bg-layer {
    width: 150vw;
    height: 120vh;
    left: -20vw;
    top: -10vh;
  }

  .moon {
    width: 40vw;
    height: 40vw;
    left: 20vw;
    top: 10vh;
  }

  .skin-circle {
    width: 25vw;
    height: 25vw;
    left: 35vw;
    top: 20vh;
  }
}
