.polygon{
  position: absolute;
  top: 430px;
  left: -241px;
  width: 1463px;
  height: 708px;
  z-index: 1; 
  pointer-events: none; 
}

@media (max-width: 768px) {
  .polygon {
    top: 20vh;                        
    left: 50%;             
    transform: translateX(-50%);
    width: 70%;           
    height: auto;         
    max-height: 40vh;       
  }
}

@media (max-width: 1366px) {
  .polygon {
    top: 25vh;                        
    left: 50%;             
    transform: translateX(-50%);
    width: 80%;           
    height: auto;         
    max-height: 50vh;       
  }
}
